@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Love+Ya+Like+A+Sister&family=Lovers+Quarrel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Love Ya Like A Sister', cursive;
}

.header_container{
    display: flex;
    background-image: linear-gradient(rgb(56, 37, 66), rgb(22, 22, 22));;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logoperfil{
    display: flex;
    align-items: center;
}

.logoperfil > h1{
    color: white;
    font-size: 3rem;
    padding-left: 10px;
    text-align: center;
}

.logoperfil > h2{
    color: red;
    font-size: 3rem;
    padding-left: 10px;
}

.others{
    display: flex;
    padding-left: 1rem;
    cursor: pointer;
    
}

.others > h1{
    color: white;
}

/*-------------------------------------------*/

.countdown-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 4rem;
}

.mid-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mid-title h1{
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    margin-top: 4.5rem;
}

.text{
    font-weight: bold;
    font-size: 5rem;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}